{% extends 'html.html' %}
{% load static %}    
{% block content %}
{% for f in next_week_forms %}
{{ f.as_p }}
{% endfor %}
<h4 class="w-100 py-3 px-3 title z-depth-1">Pedidos de la semana</h4>
<div class="my-3 row">
    <div class="col">
        <div class="card px-3 py-3">
            <h5 class="my-0 mx-0">Lúnes {{ form.date.value|date:'d/m' }}</h5>
            <hr>
            {{ form.as_p }}
        </div>
    </div>
    <div class="col">
        <div class="card px-3 py-3">
            <h5 class="my-0 mx-0">Martes</h5>
            <hr>
        </div>
    </div>
    <div class="col">
        <div class="card px-3 py-3">
            <h5 class="my-0 mx-0">Miércoles</h5>
            <hr>
        </div>
    </div>
    <div class="col">
        <div class="card px-3 py-3">
            <h5 class="my-0 mx-0">Jueves</h5>
            <hr>
        </div>
    </div>
    <div class="col">
        <div class="card px-3 py-3">
            <h5 class="my-0 mx-0">Viernes</h5>
            <hr>
            <div class="day-menu">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="actions">
            <button type="button" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
