{% extends 'html.html' %}
{% load static %}    
{% block content %}

<h4 class="w-100 py-3 px-3 title z-depth-1">Pedidos de Hoy 20/10/20</h4>
<div class="my-3 row">
    <div class="col-md-12">
        <ul class="boton nav">
            <li class="nav-item active">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Todos</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Pendientes</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Cancelados</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Entregados</button>
            </li>
        </ul>
    </div>
</div>

<div class="my-3 row">
    <div class="col-md-12">
        <ul class="boton nav">
            <li class="nav-item active">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Todos</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Temping</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Balance</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary waves-effect btn-sm">Salad</button>
            </li>
        </ul>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-md-12">
        <table id="tabla" class="py-2 px-1 table table-sm table-striped  table-bordered">
            <thead>
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Turno</th>
                <th scope="col">Delivery</th>
                <th scope="col">Estado</th>
                <th scope="col">-</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <th scope="row">{{ o.name }}</th>
                    <td>{{ o.address }}</td>
                    <td>{{ o.qty }}</td>
                    <td>{{ o.get_order_shift_display }}</td>
                    <td>{{ o.delivery_assigned }}</td>
                    <td>{{ o.get_state_display }}</td>
                    <td class="text-center"><a href="{% url 'order_detail' id=o.pk %}"><span class="badge badge-warning order-edit-label py-1 px-2">Editar</span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
