    <footer class="page-footer text-center font-small stylish-color darken-2 mt-4 wow fadeIn">

    <div class="py-4">

        <a class="btn btn-outline-white" href="" target="_blank"
        role="button">Bla bla
        </a>
        <a class="btn btn-outline-white" href="" target="_blank" role="button">Bla bla
        </a>

    </div>

    </footer>

    <div class="page-footer text-center footer-copyright stylish-color-dark py-3 ml-0 text-white">
    © 2019 Copyright:
    <a href="" target="_blank" class="text-white"> Gora Kitchen </a>
    </div>
<!--/.Footer-->