<div class="footer-wrapper">
    <footer class="page-footer text-center font-small elegant-color darken-2 mt-4 wow fadeIn pl-0">

    <div class="py-4">

        <a class="btn btn-outline-white" href="" target="_blank"
        role="button">Logo OO.SS.
        </a>
        <a class="btn btn-outline-white" href="" target="_blank" role="button">Logo OO.SS.
        </a>

    </div>

    </footer>

    <div class="page-footer text-center footer-copyright elegant-color-dark py-3 ml-0">
    © 2019 Copyright:
    <a href="" target="_blank" class="text-white"> Centro Médico de Mar del Plata </a>
    </div>
</div>
<!--/.Footer-->