<!--Main Navigation-->
<header>
    {% load static %}
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark scrolling-navbar">
      <div class="container-fluid">
              
          <a class="navbar-brand" href="/"><img src="{% static 'images/logo_header_cem.png' %}" height="30"  alt=""></a>
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
              
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link waves-effect" href="#noticias">Noticias
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">Institucional</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                      target="_blank">Caja de Ayuda</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Biblioteca</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Tribunal de Disc.</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Ci.Me.Ju.</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Biblioteca</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Etcetera...</a>
                  </li>
              </ul>
              <span class="navbar-text white-text">
                  <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Boletín Institucional</button>
              </span>

          </div>
  
      </div>
  </nav>
  <!-- Navbar -->

</header>